.mh_wrapper{
  height:30px;
  line-height:30px;
  position:absolute;
  top:192px;
  left:auto;
  text-transform: none;
  font: 12px/30px "Lucida Sans Unicode";

}
.mh_itemMain{
  color:#f0f0f0;
  z-index:10;
    border:1px double #222;
    background: #069 no-repeat center center;
	background: -moz-linear-gradient(#39F, #069); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #069),color-stop(1, #39F));	
	background: -webkit-linear-gradient(#39F, #069);	
	background: -o-linear-gradient(#39F, #069);
	background: -ms-linear-gradient(#39F, #069);
	background: linear-gradient(#39F, #069);  
  cursor:pointer;
    text-align:center center;
  font-weight:bold;
  text-indent:30px;
  width:200px;
  position:absolute;
  top:0px;
  left:auto;
  text-shadow:1px 2px 2px #000;
}
.mh_itemMain:hover{
  color:#fff;
}
.mh_right{
    width:20px;
    height:30px;
    position:absolute;
    border:1px double #222;
    background: #069 no-repeat center center;
	background: -moz-linear-gradient(#39F, #069); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #069),color-stop(1, #39F));	
	background: -webkit-linear-gradient(#39F, #069);	
	background: -o-linear-gradient(#39F, #069);
	background: -ms-linear-gradient(#39F, #069);
	background: linear-gradient(#39F, #069);  
	
}
.mh_wrapper ul {
  position:absolute;
  left:auto;
  top:0px;
  width:800px;
  list-style:none;
  padding:0px;
  height:30px;
}
.mh_wrapper ul li a{
  text-decoration:none;
  cursor:pointer;
  display:block;
  float:left;
  margin:0px;
  text-indent:0px;
  padding:0px 10px 0px 3px;
  line-height:30px;
  height:30px;
  text-indent:10px;
  letter-spacing:1px;
  color:#FFF;
    background: #069 no-repeat center center;
	background: -moz-linear-gradient(#39F, #069); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #069),color-stop(1, #39F));	
	background: -webkit-linear-gradient(#39F, #069);	
	background: -o-linear-gradient(#39F, #069);
	background: -ms-linear-gradient(#39F, #069);
	background: linear-gradient(#39F, #069);  
  text-shadow:1px 1px 1px #000;
  border:1px solid #333;
  border-left:none;
}
.mh_wrapper ul li a.hover{
  background: -moz-linear-gradient(#06F, #069); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #069),color-stop(1, #06F));	
	background: -webkit-linear-gradient(#06F, #069);	
	background: -o-linear-gradient(#06F, #069);
	background: -ms-linear-gradient(#06F, #069);
	background: linear-gradient(#06F, #069); 
  color:#FC3;
  -moz-box-shadow:0px 0px 3px #000 inset;
  -webkit-box-shadow:0px 0px 3px #000 inset;
  box-shadow:0px 0px 3px #000 inset;
}







.m_wrapper{
  height:30px;
  line-height:30px;
  width:200px;
  float:left;
  clear:both;
  position:relative;
  margin:10px;
  font-family: "Myriad Pro", "Trebuchet MS", Helvetica, sans-serif;
  font-size:12px;
  text-transform:uppercase;
}
.m_itemMain{
  color:#fff;
  z-index:10;
  border:1px solid #333;
  background-color:#777;
  background-repeat:no-repeat;
  background-position:95% 50%;
  cursor:pointer;
  text-align:left;
  text-indent:10px;
  width:200px;
  position:absolute;
  top:0px;
  left:auto;
  text-shadow:1px 1px 1px #000;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
}
.m_down{
  background-image:url(down.png);
}
.m_up{
  background-image:url(up.png);
}
.m_wrapper ul {
  list-style:none;
  padding:2px 0px 0px 0px;
  width:100%;
  position:absolute;
  bottom:30px;
  left:auto;
}
.m_wrapper ul li a{
  text-decoration:none;
  cursor:pointer;
  display:block;
  padding:3px 0px;
  line-height:20px;
  text-indent:10px;
  letter-spacing:1px;
  color:#ddd;
  background-color:#525252;
  border:1px solid #333;
  margin:3px 0px;
  text-shadow:1px 1px 1px #000;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  background:
    -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.12, rgb(51,51,51)),
    color-stop(0.56, rgb(82,82,82))
    );
  background:
    -moz-linear-gradient(
    center bottom,
    rgb(51,51,51) 12%,
    rgb(82,82,82) 56%
    );
  -moz-box-shadow:0px 0px 2px #333 inset;
  -webkit-box-shadow:0px 0px 2px #333 inset;
  box-shadow:0px 0px 2px #333 inset;

}
.m_wrapper ul li a:hover{
  background:#333;
  color:#fff;
  -moz-box-shadow:0px 0px 3px #ddd inset;
  -webkit-box-shadow:0px 0px 3px #ddd inset;
  box-shadow:0px 0px 3px #ddd inset;

}